@tailwind base;
@tailwind components;
@tailwind utilities;

li,
h1,
h3 {
	font-family: "Rubik", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
}

.poty p {
	writing-mode: sideways-lr;
	text-orientation: upright;
}
