@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--darkGray: #232321;
	--mainBlue: "#4A69E2";
	--mainYellow: "#FFA52F";
	--FA-White: "#FAFAFA";
	--lightGray: "#E7E7E3";
	--midGray: "#70706E";
}
@layer base {
	li,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-rubikFont text-darkGray;
	}

	p {
		@apply font-sansFont text-darkGray;
	}
}
.poty p {
	writing-mode: sideways-lr;
	text-orientation: upright;
}
